include stan/unix/*.stan
include stan/win/*.stan
include LICENSE

# Ensure in-place built models do not get included in the source dist.
prune fbprophet/stan_model

# Necessary for tests to run
include fbprophet/tests/*.csv
